name: Build image
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        run: |
          docker build . --file Dockerfile --tag registry.baptisteheraud.com/my-image-name:v1
          docker push registry.baptisteheraud.com/my-image-name:v1
